<?xml version="1.6"?>
<launch>
  <rosparam file="$(find smile_mobile_hardware)/config/hardware.yaml" command="load"/>
  <group ns="smile">
  	<node name="encoder_imu_driver" pkg="smile_mobile_hardware" type="encoder_imu_driver.py"/>
	  <node name="motor_driver" pkg="smile_mobile_hardware" type="motor_driver.py"/>
    <node name="image_capture" pkg="smile_mobile_hardware" type="webcam_publish.py"/>
  </group>
</launch>
